<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${evento.nome}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/materialize/css/materialize.min.css}"
          media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Evento</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/eventos" class="waves-effect waves-light btn">
                        <i class="material-icons left">format_list_bulleted</i>
                        Lista de Eventos
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="section">
        <div class="section evt-details">
            <span>Nome:</span>
            <span th:text="${evento.nome}"/>
        </div>
        <div class="divider"></div>
        <div class="section evt-details">
            <span>Local:</span>
            <span th:text="${evento.local}"/>
        </div>
        <div class="divider"></div>
        <div class="section evt-details">
            <span>Data:</span>
            <span th:text="${evento.data}"/>
        </div>
        <div class="divider"></div>
        <div class="section evt-details">
            <span>Horário:</span>
            <span th:text="${evento.horario}"/>
        </div>
    </div>

    <div class="section">
        <div class="form">
            <h4>Adicionar convidado</h4>
            <form method="post">
                <div class="input-field">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome"/>
                </div>
                <div class="input-field">
                    <label for="rg">RG</label>
                    <input type="text" name="rg"/>
                </div>
                <div class="buttons">
                    <button type="submit" class="waves-effect waves-light btn">
                        Adicionar
                    </button>
                </div>
            </form>
            <th:block th:include="mensagemValidacao"/>
        </div>
    </div>

    <div class="section">
        <div class="section">
            <h5>Convidados</h5>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>RG</th>
                </tr>
                <tr th:each="convidado: ${convidados}">
                    <td class="col s6">
                        <span th:text="${convidado.nome}"/>
                    </td>
                    <td class="col s6">
                        <span th:text="${convidado.rg}"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{/styles/materialize/js/materialize.min.js}"></script>

</body>
</html>
